body{
    margin: 0;
  padding: 0;
    font-family: 'Work Sans', sans-serif;

}
/* google font */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;500;700;800&family=Work+Sans:wght@400;600;700;800&display=swap');

/* header section start */
header nav{
    padding: 0px 120px;
  background-color: white;
    display: flex;
  
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  align-items: center;
 
    justify-content: space-between;
}
header nav .logo{
    display: flex;
    align-items: center;
}
header nav .logo img{
width: 86.041px;
   height: 40px;;
}
 .logo-name {
    color: #0B0223;
    font-size: 45px;
    margin-left: 10px;
 }
 .logo-name span{
    color: deeppink;
    
 }
header nav ul{
    display: flex;
   
    align-items: center;
 
}
header nav ul li{
    list-style: none;

}
header nav ul li a{
    text-decoration: none;
    color: #3C354F;
    padding: 40px 30px;
    font-size: 18px;
  
}
header nav ul li:nth-child(3){
    background-color:  rgba(11, 2, 35, 0.10);
    padding: 5px 0px;
    border-radius: 8px;
}
header nav ul li:nth-child(3) img{
 width: 20px;
   margin-left: 20px;
   
}
header nav ul li:nth-child(3) img:nth-child(1){
  height: 20px;
  width: 28px;
}
.header nav ul li:nth-child(3) a{
    display: flex;
    align-items: center;
   justify-content: center;
    
}
/* header banner section */
.banner{
   display: flex;
   justify-content: center;
  align-items: center;
    background-repeat: no-repeat;
gap: 50px;
}
.banner-text-content{
    background: url(images/Group\ 14.png);
background-size:100%;
width: 50%;
padding: 140px 0;


padding-left: 240px;
flex-direction: column;
justify-content: center;
align-items: center;

}
.banner-title{
    color: #0B0223;
  margin: 0;
    font-size: 40px;
    font-weight: 600;
}
.banner-title-big{
    margin: 0;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 70px;
    font-weight: 800;

}
.banner-description{
    margin-top: 24px;
}
.banner-description p{
    color: #534C64;
    font-weight: 500;
}
.banner-description i{
    margin-right: 10px;
    color: #F948B2;
    font-size: 20px;
}
.banner-btn a{
    padding: 21px 40px;
    border-radius: 40px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 30px;
    font-weight: 600;
    display: inline-block;
}
.sign-in{
    border-radius: 48px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}
.rouge{
    border-radius: 48px;
background: #4EC5F7;
margin-left: 24px;
}
.banner-image {
    
 padding-right: 240px;
  
   width: 50%;
}
.banner-image img{
width: 100%;
}
/* main section start */
main{
  
   
}
/* we are gamer section */
.we-are-gamer{
    padding: 20px 240px;
  gap: 70px;
  background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    display: flex;
    align-items: center;
}
.we-are-gamer-img{
    width: 50%;
}
.we-are-gamer img{
  width: 600px;
}
.we-are-gamer-text{
width: 50%;
 
}
.we-are-gamer-title{
    font-size: 48px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.we-are-gamer-des{
   
    width: 80%;
    color: #534C64;
}
.we-are-gamer-btn{
    display: inline-block;
    margin-top: 30px;
    font-weight: 600;
    padding: 15px 40px;
    background-color: #F948B2;
    color: white;
    text-decoration: none;
    border-radius: 50px;
}
.extra-des{
    text-align: right;
    color: #534C64;
}
/*online game-video section */
.online-game-video{
    padding: 50px 240px;
}
.online-game-title{
    margin: 0;
    text-align: center;
    font-size: 40px;
}
.online-game-title span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.online-game-des{
   margin-top: 5px;
    text-align: center;
    font-size: 17px;
    color: #534C64;
}
.online-game-video-container{
   
    display:grid;
    grid-template-columns: repeat(4,1fr);
   
    gap: 20px;
}
.card-container{
    width: 250px;
}
.video-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    margin-top: 20px;
    
    width: 250px;
    height: 320px;
    
    background-image: url("images/Rectangle\ 4.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.video-card-2{

}
.online-game-video-container i{
font-size: 50px;
color: white;
display: none;
margin: 0;
}
.video-card:hover{
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%),url("images/Rectangle\ 4.png");
}
.video-card:hover i{
    display: block;
    
}
.video-card p{
    color: #F948B2;
    font-weight: 600;
    margin: 0;
    display:none;
}
.video-card:hover p{
    display: block;
}
#video-card-2{
    background-image: url("images/Rectangle\ 5.png");
    background-size: cover;
}
#video-card-2:hover{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%),url("images/Rectangle\ 5.png");
}
#video-card-3{
    background-image: url("images/Rectangle\ 6.png");
    background-size: cover;
}
#video-card-3:hover{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%),url("images/Rectangle\ 6.png");
}
#video-card-4{
    background-image: url("images/Rectangle\ 7.png");
    background-size: cover;
}
#video-card-4:hover{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%),url("images/Rectangle\ 7.png");
}
.video-card-des{
    color: #534C64;
}
/* play game section */
.play-game{
    padding: 20px 240px;
    display: flex;
    gap: 5rem;
    align-items: center;
}
.play-game-text-content{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.play-game-des{
  width: 80%;
    font-size: 18px;
    line-height: 29px;
    color: #534C64;
    text-align: center;
}
.playgame-title{
    margin: 0;
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}
.playgame-title span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.play-game-img{
    position: relative;
}
.play-game-img img{
    width: 100%;
}
.play-game-img-sub{
  position: absolute;
    width: 300px;
    padding: 1px;
    background-color: white;
    border: solid 3px #F948B2;
    border-radius: 10px;
    left: -100px;
    bottom: -70px;
}
.play-game-img-sub img{
    width: 100%;
}
.game-list-container{
  
    
}
.game-list{
  padding: 60px 240px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
   margin-top: 160px;
   display: grid;
   grid-template-columns: repeat(5,240px);
   gap: 20px;
   
   justify-content: center;
   align-items: center;
}
.game-list-card{
   width: 220px;
display: flex;
background-color: white;
border-radius: 50px;
align-items: center;
}

.game-list-card:hover{
    border: solid 3px #F948B2;
    color: #F948B2;
}
.gamelist-des{ 
    font-weight: 600;
    margin-left: 5px;
}
.game-list-card:nth-child(6),.game-list-card:nth-child(7),.game-list-card:nth-child(8),.game-list-card:nth-child(9){
 margin-left: 100px;
}
/* footer section */
footer{
    padding: 80px 240px;
    background-color:#0B0223;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footerlogo{
    display: flex;
    align-items: center;
}
.footerlogo img{
    width: 86.041px;
    height: 40px;
}
.logo-text{
    color: white;
    margin-left: 20px;
}
.logo-text span{
    color: #F948B2;
}
footer a{
    text-decoration: none;
}
.footer-link-1{
    padding: 20px 0;
    display: flex;
    align-items: center;
    gap: 60px;
}
.footer-link-1 a{
    font-weight: 400;
    color: white;
    font-size: 18px;
  
}
.footer-icon{
    padding-top: 40px;
    display: flex;
    gap: 50px;
}
.footer-icon a i{
    color: white;
    font-size: 38px;
}
.footer-link-2{
    display: flex;
    align-items: center;
    gap: 60px;
    padding-top: 4rem;
}
.footer-link-2 a{
   
    color: rgba(255, 255, 255, 0.60);
}
.terms{
 
    color: rgba(255, 255, 255, 0.60);
}
/* responsive small devices */
@media screen and (max-width:576px) {
    /* header nav */
    header{
        width: 100%;
    }
    header nav{
       padding: 0px;
        flex-direction: column;
      align-items: center;
        width: 100%;
    }
.logo-name{
    margin-left: 10px;
}
header nav ul{
    flex-direction: column;
    gap: 30px;
    align-items: center;
   
}
header nav ul li a{
    text-align: center;
}
header nav ul li:nth-child(3){
    padding: 10px 10px;
    border-radius: 5px;
}
header nav ul li:nth-child(3) a img{
margin-left: 0;
width: 15px;

}
/* banner section */

.banner{
  
 flex-direction: column-reverse;
 align-items: start;
}
.banner-text-content{
    padding: 131px 40px;
    width: 100%;
}
.banner-title{
    font-size: 30px;
}
.banner-title-big{
    font-size: 50px;
}
.banner-btn a{
   padding:  16px 30px;
}
.rouge{
    margin-left: 10px;
}
.banner-image{
    padding: 30px;
    width: 100%;
}
.banner-image img{
    width: 80%;
}
/* main section */
main{
   
}
/* we are gamer section */
.we-are-gamer{
    padding: 10px 20px;
    flex-direction: column;
    gap: 20px;
}
.we-are-gamer-img{
    width: 100%;
}
.we-are-gamer img{
    width: 80%;
}
.we-are-gamer-text{
    width: 100%;
}
.we-are-gamer .extra-des{
    font-size: 17px;
    text-align: center;
}
/* online game video section */
.online-game-video{
  padding: 20px 20px;
}
.online-game-video-container{
    justify-content: center;
    align-items: center;
   display: flex;
   flex-direction: column;
}
.online-game-title{
    font-size: 30px;
   
}
.video-card-des{
    text-align: center;
}
/* play-game section */
.play-game{
    padding: 20px 20px;
    flex-direction: column;
}
.play-game-text-content{
    width: 100%;
}
.play-game-img img {
   
}
.playgame-title{
    font-size: 30px;
}
.play-game-img-sub{
    width: 50%;
    left: -20px;
    bottom: -50px;
}
.play-game-des{
    width: 100%;
    font-family: 16px;
}
/* game list section */
.game-list{
    padding: 20px 20px;
   display: grid;
   grid-template-columns: repeat(3,20%);
   gap: 40px;
   
}
.game-list-card{
    width: 90px;
    height: 40px;
}
.game-list-card img{
    width: 20px;
    margin-left: 3px;
}
.gamelist-des{
    font-size: 6px;
}
.game-list-card:nth-child(6),.game-list-card:nth-child(7),.game-list-card:nth-child(8),.game-list-card:nth-child(9){
    margin-left: 0;
}
/* footer section */
footer{
    padding: 60px 20px;
}

.footer-link-1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
  
}
.footer-link-1 a{
    font-size: 15px;
   
}
.footer-icon{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.footer-link-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
font-size: 10px;}
   
    .terms{
margin-top: 90px;
text-align: center;
    
}
}
/* medium devices responsive */
@media screen  and (min-width:576px) and (max-width: 960px){
    /* header nav */
    .header{
        width: 100%;
    }
    header nav{
        width: 100%;
        flex-direction: column;
        padding: 0;
    }
header nav ul{
    flex-direction: column;
    gap: 20px;
}
    /* banner */
    .banner{
        flex-direction: column;
        align-items: start;
    }
    .banner-text-content{
        padding: 140px 100px;
    }
    .banner-image{
        width: 100%;
        padding-right: 0;
        padding: 20px 100px;
    }
    .banner-image img{
        width: 80%;
    }
    /* main section */
    main{
        
    }
    /* we are gamer section */
    .we-are-gamer{
        flex-direction: column;
        padding: 20px 70px;
    }
    .we-are-gamer-img{
        width: 100%;
    }
    .we-are-gamer-text{
        width: 100%;
    }
    /* online game section */
    .online-game-video{
        padding: 20px 70px;
    }
    .online-game-video-container{
       display: grid;
       grid-template-columns: repeat(2,1fr);
       justify-content: center;
       align-items: center;
    }
    /* play game section */
    .play-game{
        flex-direction: column;
        padding: 20px 70px;
    }
    .play-game-text-content{
        width: 100%;
    }
    .play-game-img-sub{
        width: 40%;
        left: -50px;
    }
    /* game list card */
    .game-list{
        padding: 20px 70px;
        display: grid;
        grid-template-columns: repeat(3,20%);
        gap: 80px;
        grid-template-rows: repeat(3,1fr);
    }

    .game-list-card{
        width: 170px;
    }
    .game-list-card:nth-child(6),.game-list-card:nth-child(7),.game-list-card:nth-child(8),.game-list-card:nth-child(9){
        margin-left: 0;
    }
    /*footer */
    footer{
        padding: 60px 80px;
    }
    .footer-link-1{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 40px;
    }
    .footer-icon{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .footer-link-2{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;}
       
        .terms{
margin-top: 90px;
        
    }
}